[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
db-sqlite3 = "*"
lavalink = "*"
"discord.py" = {extras = ["voice"], version = "*"}
youtube-dl = "*"

[requires]
python_version = "3.6"


[scripts]
dev = "nodemon --exec python ./src/bot.py"